<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="heading_color">
            <span>
              <button mat-icon-button>
                <mat-icon class="history_icon">history</mat-icon>
              </button>
              Patient History
            </span>
          </h2>
        </div>
      </div>

      <mat-form-field appearance="standard">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search here" #input>
      </mat-form-field>


      <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataList" matSort>
          <ng-container matColumnDef="appointmentDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Appointment Date</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.date | date}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="patientName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Patient Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.patient_name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="physicianName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Physician Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.physician_name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.meeting_title}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-chip-list aria-label="Status">
                <mat-chip [color]="element.status === 'Completed' ? 'success' : 'accent'" selected>{{element.status}}
                </mat-chip>
              </mat-chip-list>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>View Detail</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-icon-button routerLink='/portal/visit'>
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="columnList"></mat-header-row>
          <mat-row *matRowDef="let row; columns:columnList;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>

    </div>
  </div>
</div>
