table {
  width: 100%;
}
.mat-header-cell{
  font-weight: 700;
}
.mat-form-field {
  font-size: 14px;
}
.heading_color{
  color:#673ab7;
  padding: 10px 0px 0px 0px ;

}
.history_icon{
  padding-top: 0px;
}
