
<div class="container">
    <mat-card>
        <mat-card-content>
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="heading_color">Schedule Appointment</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button mat-raised-button color="primary" class="m-1">Physician</button>  
                    <button mat-raised-button color="primary" class="m-1">Specialty</button>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-6 col-sm-12 col-md-12 col-lg-12">
    <button mat-raised-button color="primary" (click)="toggleWeekends()" class="m-1">Week</button>
    <full-calendar deepChangeDetection="true" [options]="calendarOptions" color="primary">
    </full-calendar>
    </div>
    <div class="col-sm-2">
        <button mat-raised-button color="primary" class="mt-1">Book Appointment</button>
    </div>
    </div>
    </mat-card-content>
    </mat-card>
</div>
