<div class="container">
  <div class="row">
    <mat-card class="example-card" >
      <form [formGroup]="add_procedure_data_from">
      <mat-card-content>
        <div class="col-md-4">
          <mat-form-field appearance="fill">
            <mat-label>Id</mat-label>
            <input matInput formControlName="id">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="btn-success"  (click)="postProcedureDetails(add_procedure_data_from)">Add</button>
      </mat-card-actions>
    </form>
      <!-- </div> -->
      <table  class="table table-responsive">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let item of collecteData">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td><button mat-raised-button color="primary" (click)="updatedProcedureDetails()">Edit</button></td>
            <td><button mat-raised-button color="warn" (click)="deleteRow(item.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
      <!-- <table mat-table class="mat-elevation-z8" *ngFor="let item of  procedureModelObj">

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let item"> {{item.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let item"> {{item.name}} </td>
        </ng-container>

        <ng-container matColumnDef="Delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element" style="cursor: pointer;">
            <mat-icon>delete</mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
       -->
      
      </mat-card>
      <!-- </div>
      </div> -->
    