<div class="container" style="margin-top:5px; margin-bottom: 15px;">
  <div class="row">
    <div class="col-sm-12">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Apply Filters
            </mat-panel-title>
            <mat-icon>filter_list</mat-icon>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-sm-4">
              <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search here" #input>
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date" [(ngModel)]="dateRangeStart">
                  <input matEndDate placeholder="End date" [(ngModel)]="dateRangeEnd"
                    (dateChange)="filterOnDateRange()">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select name="status" (selectionChange)="filterOnStatus($event.value)" [(ngModel)]="selectedStatus">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let status of statuses" [value]="status">
                    {{status}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-2">
              <button mat-raised-button (click)="onClearFilter()">Clear Filter</button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataList" matSort>
          <ng-container matColumnDef="appointmentDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Appointment Date</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="patientName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Patient Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.patient_name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="physicianName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Physician Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.physician_name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.title}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-chip-list aria-label="Status">
                <mat-chip [color]="element.status === 'Completed' ? 'success' : element.status === 'In-Progress' ? 'accent' : element.status === 'Canceled' ? 'warn' : 'primary'" selected>{{element.status}}
                </mat-chip>
              </mat-chip-list>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="view">
            <mat-header-cell *matHeaderCellDef>View All Appointments</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-icon-button [routerLink]="['/portal/patient/patient-appointment-history',element.patient_id]">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Accept/Cancel</mat-header-cell>
            <mat-cell *matCellDef="let element" [ngStyle]="{'visibility':element.status === 'Completed' ? 'hidden' : 'visible'}">
              <button mat-icon-button (click)="onAcceptOrReject(element.id, 'Scheduled')">
                <mat-icon color="primary">done_outline</mat-icon>
              </button>
              <button mat-icon-button (click)="onAcceptOrReject(element.id, 'Canceled')">
                <mat-icon color="warn">cancel</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="columnList"></mat-header-row>
          <mat-row *matRowDef="let row; columns:columnList;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>

    </div>
  </div>
</div>
