
    <mat-card>
        <div class="row mb-3">
         
            <div class="col-md-3 ">
                <mat-card>
                    <mat-icon>dashboard</mat-icon>
                    <h4></h4>
                </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card>
                    <mat-icon>person</mat-icon>
                </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card>
                    <mat-icon>share</mat-icon>
                </mat-card>
            </div>
            <div class="col-md-3">
            <mat-card>
                <mat-icon>bookmark</mat-icon>
            </mat-card>
            </div>
        </div>  
        <div class="row">
            <div class=".col-md-12 ">
                <mat-card>
                    <div style="width:100%;">
                        <canvas id="myChart" width="700" height="250" #mychart></canvas>
                     </div>
                </mat-card>
            </div>
        </div>    
</mat-card>
