
    <mat-card>
        <div class="row mb-3">
         
            <div class="col-md-3">
                <mat-card class="card-1color mb-2" routerlink="admin">
                    <mat-icon>dashboard</mat-icon>
                    <h4>Manage Users</h4>
                </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card class="card-color mb-2" routerlink="patient-history">
                    <mat-icon>person</mat-icon>
                    <h4>Manage Patient Records</h4>
                </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card class="card-2color mb-2" routerlink="">
                    <mat-icon>perm_identity</mat-icon>
                    <h4>Manage Physician Records</h4>
                </mat-card>
            </div>
            <div class="col-md-3">
            <mat-card class="card-3color mb-2">
                <mat-icon>bookmark</mat-icon>
                <h4>Manage Appoinments</h4>
            </mat-card>
            </div>
        </div>  
        <div class="row">
            <div class=".col-md-12 ">
                <mat-card>
                    <div style="width:100%;">
                        <canvas id="myChart" width="700" height="250" #mychart></canvas>
                     </div>
                </mat-card>
            </div>
        </div>    
</mat-card>
