<div class="container">
    <mat-card>
        <mat-card-content>
            <!-- login form start here -->
            <form [formGroup]="loginForm">
                <h2>Log In</h2>
                <!-- username field -->
                <mat-form-field class="full-width-input">
                    <input matInput formControlName="email" placeholder="Email">
                    <mat-icon matSuffix class="email"> email</mat-icon>
                </mat-form-field>
                <mat-error *ngIf="!email.valid && email.touched && email.hasError('required')">
                    Please enter email
                </mat-error>
                <mat-error *ngIf="!email.valid && email.touched && email.hasError('email')">
                    Please enter valid email
                </mat-error>
                <!-- password field -->
                <mat-form-field class="full-width-input">

                    <input matInput type="password" formControlName="password" placeholder="Password">

                    <!-- <mat-icon matSuffix> vpn_key</mat-icon> -->
                    <mat-icon matSuffix class="password">remove_red_eye</mat-icon>
                </mat-form-field>
                <mat-error *ngIf="!userpassword.valid && userpassword.touched  && userpassword.hasError('required')">
                    Please enter valid password
                </mat-error>
                <mat-error *ngIf="!userpassword.valid && userpassword.touched  && userpassword.hasError('minlength')">
                    Password must be upto 8 characters
                </mat-error>
                <!-- login and register button -->
                <div class="row margin_top">
                    <div class="col-sm-6">
                        <button mat-raised-button class="btn_login" color="primary" (click)="onlogin()">Login</button>
                    </div>
                    <div class="col-sm-6">
                        <button mat-raised-button class="btn_register" color="primary" routerLink="registration">Register</button>
                    </div>
                </div>




            </form>
            <!-- login form end here -->
        </mat-card-content>
    </mat-card>
</div>