<div class="container">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>
        <h2 class="heading_color">{{user.firstname}} {{user.lastname}} - Patient Information</h2>
      </mat-card-title>
      <img class="profile-image" mat-card-sm-image *ngIf="!user.profilepicture" src="../../../../assets/no-profile.png">
      <img class="profile-image" mat-card-sm-image *ngIf="user.profilepicture"
        src="{{'data:image/jpg;base64,' + user.profilepicture}}">
    </mat-card-title-group>
    <mat-card-content>
      <div class="row">
        <form>
          <div class="row">
            <div class="col-sm-4">
              <mat-label>Email : {{user.email}}</mat-label>
            </div>
            <div class="col-sm-4">
              <mat-label>Date of birth : {{user.dob | date}}</mat-label>
            </div>
            <div class="col-sm-4">
              <mat-label>Mobile : {{user.phone}}</mat-label>
            </div>
          </div>
          <div class="row" style="padding-top: 2%">
            <div class="col-sm-4">
              <mat-label>Emergency Contact Name : {{user.emergency_contact_name}}</mat-label>
            </div>
            <div class="col-sm-4">
              <mat-label>Emergency Contact Email : {{user.emergency_contact_email}}</mat-label>
            </div>
            <div class="col-sm-4">
              <mat-label>Emergency Contact Mobile : {{user.emergency_contact_mobile}}</mat-label>
            </div>
          </div>
          <div class="row" style="padding-top: 2%;">
            <div class="col-sm-4">
              <mat-label>Gender : {{user.gender}}</mat-label>
            </div>
            <div class="col-sm-4">
              <mat-label>Insurance : {{user.insurance_provider}}</mat-label>
            </div>
            <div class="col-sm-4">
              <mat-label>Address : {{user.address}}</mat-label>
            </div>
          </div>
          <div class="row" style="padding-top: 2%;">
            <h2 class="heading_color">
              Patient Medication Details
            </h2>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-label>Allergy Details : {{user.phone}}</mat-label>
            </div>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
