img{
  border-radius: 50%;
  width: 10%;
  height: 100px;
  object-fit: center;
  object-position: center;
}
@media all and (max-width: 1000px){
  img{
    width: 15%;
  }
}
@media all and (max-width: 700px){
  img{
    width: 18%;
    height: 85px;
  }
}
@media all and (max-width: 500px){
  img{
    width: 25%;
  }
}
