<div class="container">
  <div class="row">
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>{{user.firstname}} {{user.lastname}}
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list aria-label="Status">
            <mat-chip color="accent" selected>{{user.role}}
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
        <input type="file" style="display: none;" #fileInput accept="image/*" (change)="selectFiles($event)">
        <img class="profile-image" mat-card-sm-image *ngIf="!user.profilepicture"
          src="../../../../assets/no-profile.png" (click)="fileInput.click()">
        <img class="profile-image" mat-card-sm-image *ngIf="user.profilepicture"
          src="{{'data:image/jpg;base64,' + user.profilepicture}}" (click)="fileInput.click()">
      </mat-card-title-group>
      <mat-card-content>
        <div class="row">
          <div class="col-sm-4">
            <mat-label>Email : {{user.email}}</mat-label>
          </div>
          <div class="col-sm-4">
            <mat-label>Date of birth : {{user.dob | date}}</mat-label>
          </div>
          <div class="col-sm-4">
            <mat-label>Mobile : {{user.phone}}</mat-label>
          </div>
        </div>
        <div class="row" style="padding-top: 2%;">
          <div class="col-sm-4">
            <mat-label>Gender : {{user.gender}}</mat-label>
          </div>
          <div class="col-sm-6">
            <mat-label>Address : {{user.address}}</mat-label>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
