

  <div class="row">
<div class="col-sm-6">
  <form [formGroup]="add_diognosis_data">
  <div class="form-group">
    <mat-label>Diognosis ID</mat-label>
      <mat-form-field class="full-width-input">
          <input matInput formControlName="dionosis_id" placeholder="Enter Diognosis ID">
      </mat-form-field>

        <div class="form-group">
          <mat-label>Diognosis Name</mat-label>
            <mat-form-field class="full-width-input">
                <input matInput formControlName="dionosis_name" placeholder="Enter Diognosis Name">
            </mat-form-field>
        </div>
        <button class="mat-raised-button bg-primary" (click)="addData(add_diognosis_data)">Add Data</button>
<button class="mat-raised-button bg-primary">Cancel</button>
    </div>
    </form>


    </div>
    </div>


