
<div class="container">
  <mat-card>
    <form [formGroup]="add_diog_data_form">
         <div class="row">
          <mat-card class="example-card">
          <mat-card-content>

              <div class="col-md-4">
                  <mat-form-field appearance="fill">
                      <mat-label>Id</mat-label>
                      <input matInput formControlName="id" >
                      <mat-error *ngIf="!id.valid && id.touched && id.hasError('required')">
                        Please Enter ID
                    </mat-error>
                    </mat-form-field>

              </div>
              <div class="col-md-4">
                  <mat-form-field appearance="fill">
                      <mat-label>Name</mat-label>
                      <input matInput formControlName="name">
                    </mat-form-field>
              </div>
          </mat-card-content>
          <mat-card-actions>
              <button mat-raised-button (click)="postDiognosisDetails(add_diog_data_form)" class="btn-success" >Add</button>
          </mat-card-actions>
        </mat-card>
      </div>

      </form>


      <div class="container mt-3">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let diog_code of collectedData ">

                <td>{{diog_code.id}}</td>
                <td>{{diog_code.name}}</td>
                <td><button mat-raised-button (click)="openPopup(add_diog_data_form)" color="primary">Edit</button></td>
                <td><button mat-raised-button (click)="deleteDiognosisCode(diog_code.id)" color="warn">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>
</mat-card>
</div>




