<div class="container">
    <mat-card>
        <mat-card-content>

            <div class="row">
                <div class="col-sm-12">
                    <h2 class="heading_color">Immunization details</h2>

                </div>
            </div>

            <form [formGroup]="registrationForm" (ngSubmit)="collImmune()">
                <!-- <div class="group-gap">
            <div class="d-block my-3">
              <div class="mb-3">
                <select
                  class="form-control"
                  name="covid_19_vaccine"
                  formControlName="covid_19_vaccine"
                >
                  <option value="">Choose your Vaccine</option>
                  <option *ngFor="let city of Vaccines" [ngValue]="city">
                    {{ city }}
                  </option>
                </select>

                <div
                  class="invalid-feedback"
                  *ngIf="isSubmitted && covid_19_vaccine.errors?.required"
                >
                  <sup>*</sup>Please enter your vaccine name
                </div>
              </div>
            </div>
          </div> -->

                <div class="row">
                    <!-- vaccine field -->
                    <div class="col-sm-4">
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Vaccine</mat-label>
                                <mat-select formControlName="covid_19_vaccine">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let city of Vaccines" [value]="city">{{city}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- dose field -->
                    <div class="col-sm-4">
                        <div class="form-group">
                            <mat-radio-group aria-label="Select an option" formControlName="vaccinedosenumber">
                                <mat-radio-button value="1">Dose 1 </mat-radio-button><br /><br />
                                <mat-radio-button value="2">Dose 2 </mat-radio-button>
                            </mat-radio-group>

                        </div>
                    </div>
                    <!-- date of vaccination field -->
                    <div class="col-sm-4">
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Date of Vaccination</mat-label>
                                <input matInput [matDatepicker]="picker" name="picker" formControlName="vaccinedate" />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <!-- Submit Button -->
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" mat-raised-button color="primary">Submit</button>
                    </div>
                </div>
            </form>
            <!-- Form ends -->


        </mat-card-content>
    </mat-card>
</div>
