<h2 mat-dialog-title>Add Event</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="eventForm">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <mat-form-field class="full-width-input">
            <input matInput formControlName="title" placeholder="Meeting Title" />
            <mat-error *ngIf="
                !title.valid &&
                title.touched &&
                title.hasError('required')
              ">
              Please enter title
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Physician</mat-label>
            <mat-select formControlName="physician" name="physician" [(ngModel)]="selectedPhysician" (selectionChange)="getSelectedPhysician($event)">
              <mat-option *ngFor="let physician of physicianUsers" [value]="physician.id">
                {{ physician.firstname }} {{ physician.lastname }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="
                !physician.valid &&
                physician.touched &&
                physician.hasError('required')
              ">
              Please select Physician
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <mat-form-field class="full-width-input">
            <input matInput formControlName="description" placeholder="Add description..." />
            <mat-error *ngIf="
                !description.valid &&
                description.touched &&
                description.hasError('required')
              ">
              Please add description
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput formControlName="date" [matDatepicker]="dobpicker" [min]="minDate" />
            <mat-datepicker-toggle matSuffix [for]="dobpicker">
            </mat-datepicker-toggle>
            <mat-datepicker #dobpicker></mat-datepicker>
            <mat-error *ngIf="!date.valid && date.touched && date.hasError('required')">
              Please enter date
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <mat-form-field class="full-width-input">
            <input matInput formControlName="time" placeholder="Time" />
            <mat-error *ngIf="!time.valid && time.touched && time.hasError('required')">
              Please enter time
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [disabled]="eventForm.invalid" *ngIf="appointmentStatus === 'In-Progress' || appointmentStatus === undefined" [mat-dialog-close]="true" cdkFocusInitial (click)="onSubmit()">Add</button>
  <!-- <button *ngIf="appointmentStatus === 'In-Progress'" mat-button (click)="onSubmit()" [mat-dialog-close]="true" cdkFocusInitial>
    Add
  </button> -->
</mat-dialog-actions>
