<!-- <p>demographics works!</p> -->
<div class="background">
    <mat-card>
    <mat-card-content>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 col-md-8 col-xs-2 ">
          <div class="card ">
            <div class="card-header">
              <h5 class="text-left">Patient Portal - Demographics</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <form [formGroup]="demoForm">

                    {{patient_id}}
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                           <!-- <label for="float-input">First Name:</label>
                          <input type="text" name="firstname" class="form-control" placeholder="First Name"
                            formControlName="firstname" />
                              <span *ngIf="!firstname.valid && firstname.touched && firstname.hasError('required')" class="help-block">Please enter first name
                            </span>   -->
                            <mat-form-field class="full-width-input">
                                <input matInput formControlName="firstname" placeholder="First Name">
                                <!-- <mat-error *ngIf="!firstname.valid && firstname.touched && firstname.hasError('required')">
                                  Please enter firstname
                                </mat-error> -->
                              </mat-form-field>
                        </div>
  
                        
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <!-- <label>Last Name:</label>
                          <input type="text" name="lastname" class="form-control" placeholder="Last Name"
                          formControlName="lastname" />
                            <span *ngIf="!lastname.valid && lastname.touched && lastname.hasError('required')" class="help-block">Please enter last name
                            </span> -->
                            <mat-form-field class="full-width-input">
                                <input matInput formControlName="lastname" placeholder="Last Name">
                                <!-- <mat-error *ngIf="!lastname.valid && lastname.touched && lastname.hasError('required')">
                                  Please enter lastname
                                </mat-error> -->
                              </mat-form-field>
                        </div>
                      </div>
                    </div>
  
                      <div class="row">
                     
                      <div class="col-sm-6">
                        <div class="form-group">
                          <!-- <label>Date of birth:</label>
                          <input type="date" name="dateofbirth" class="form-control" formControlName="dateofbirth" />
                         <span *ngIf="!dateofbirth.valid && dateofbirth.touched && dateofbirth.hasError('required')" class="help-block">Please enter date of birth
                          </span>  -->
                          <mat-form-field appearance="fill">
                            <mat-label>Date of birth</mat-label>
                            <input matInput formControlName="dateofbirth" [matDatepicker]="dobpicker">
                            <mat-datepicker-toggle matSuffix [for]="dobpicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #dobpicker></mat-datepicker>
                            <!-- <mat-error *ngIf="!dateofbirth.valid && dateofbirth.touched && dateofbirth.hasError('required')">
                              Please enter date of birth
                            </mat-error> -->
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <!-- <label>Gender:</label>
                         <select name="gender"  formControlName="gender" class="form-select" placeholder="Select Gender" >
                          <option *ngFor="let g of genders" value="{{g}}">
                             {{g}}
                          </option>
                        </select> -->
                        <mat-form-field appearance="fill">
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="gender" name="gender">
                              <mat-option *ngFor="let gen of genders" [value]="gen">
                                {{gen}}
                              </mat-option>
                            </mat-select>
                            <!-- <mat-error *ngIf="!gender.valid && gender.touched && gender.hasError('required')">
                              Please select gender
                            </mat-error> -->
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <!-- <label for="float-input">Ethanicity/Race:</label>
                          <input type="text" name="ethanicity" class="form-control" placeholder="Ethanicity/Race"
                            formControlName="ethanicity" />
                             <span *ngIf="!ethanicity.valid && ethanicity.touched && ethanicity.hasError('required')" class="help-block">Please enter ethanicity
                            </span>   -->
                            <mat-form-field class="full-width-input">
                                <input matInput formControlName="ethanicity" placeholder="Ethanicity/Race">
                                <!-- <mat-error *ngIf="!ethanicity.valid && ethanicity.touched && ethanicity.hasError('required')">
                                  Please enter ethanicity
                                </mat-error> -->
                              </mat-form-field>
                        </div>
                      </div>
  
                      <div class="col-sm-6">
                        <div class="form-group">
                          <!-- <label>Education:</label>
                          <input type="text" name="education" class="form-control" placeholder="Education"
                          formControlName="education" />
                             <span *ngIf="!education.valid && education.touched && education.hasError('required')" class="help-block">Please enter education
                            </span>  -->
                            <mat-form-field class="full-width-input">
                                <input matInput formControlName="education" placeholder="Education">
                                <!-- <mat-error *ngIf="!education.valid && education.touched && education.hasError('required')">
                                  Please enter education
                                </mat-error> -->
                              </mat-form-field>
                        </div>
                      </div>
                    </div>
  
                    <div class="row">
                     
                      
                       <div class="col-sm-12">
                        <div class="form-group">
                       
                          <!-- <mat-form-field class="full-width-input">
                            <input matInput formControlName="address" placeholder="Address">
                            <mat-error *ngIf="!address.valid && address.touched && address.hasError('required')">
                              Please enter address
                            </mat-error>
                          </mat-form-field> -->
                          <mat-form-field class="full-width-input">
                          
                            <textarea matInput matInput formControlName="address" placeholder="Address"></textarea>
                            <!-- <mat-error *ngIf="!address.valid && address.touched && address.hasError('required')">
                                Please enter address
                              </mat-error> -->
                          </mat-form-field>
                        </div>
                      </div>
  
                     
                    </div>
  
                   
  
                    <div class="row">
                       <div class="col-sm-6">
                        <div class="form-group">
                          <!-- <label>Employeement:</label>
                          <input type="text" name="employeement" class="form-control" placeholder="Employeement"
                          formControlName="employeement" />
                          <span *ngIf="!employeement.valid && employeement.touched && employeement.hasError('required')" class="help-block">Please enter employeement
                          </span>  -->
                          <mat-form-field class="full-width-input">
                            <input matInput formControlName="employeement" placeholder="Employeement">
                            <!-- <mat-error *ngIf="!employeement.valid && employeement.touched && employeement.hasError('required')">
                              Please enter employeement
                            </mat-error> -->
                          </mat-form-field>
                        </div>
                           </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <!-- <label>Mobile number:</label>
                          <input type="text" name="phone" class="form-control" maxlength="10" formControlName="phone" placeholder="+91"/>
                           <span *ngIf="!phone.valid && phone.touched && phone.hasError('required')" class="help-block">Please enter phone number
                          </span>  -->
                          <mat-form-field class="full-width-input">
                            <input matInput formControlName="phone" placeholder="Phone">
                            <!-- <mat-error *ngIf="!phone.valid && phone.touched && phone.hasError('required')">
                              Please enter phone number
                            </mat-error> -->
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
  
                    <div class="row">
                       <div class="col-sm-6">
                        <div class="form-group">
                          <!-- <label>Medical history:</label> -->
                         <!--  <input type="text" name="medicalhistory" class="form-control" placeholder="Medical history"
                          formControlName="medicalhistory" /> -->
                          <!-- <textarea class="form-control" name="medicalhistory"  formControlName="medicalhistory"  placeholder="Leave a comment here" id="floatingTextarea2"></textarea>
                          <span *ngIf="!medicalhistory.valid && medicalhistory.touched && medicalhistory.hasError('required')" class="help-block">Please enter medical history
                          </span>  -->
                          <mat-form-field class="full-width-input">
                            <input matInput formControlName="medicalhistory" placeholder="Medical history">
                            <!-- <mat-error *ngIf="!medicalhistory.valid && medicalhistory.touched && medicalhistory.hasError('required')">
                              Please enter medical history
                            </mat-error> -->
                          </mat-form-field>
                        </div>
                      </div>
  
                      <div class="col-sm-6">
                        <div class="form-group">
                          <!-- <label>Family Medical History:</label> -->
                         
                          <!-- <textarea class="form-control" name="fmedicalhistory"  formControlName="fmedicalhistory"  placeholder="Leave a comment here" id="floatingTextarea2"></textarea>
                          <span *ngIf="!fmedicalhistory.valid && fmedicalhistory.touched && fmedicalhistory.hasError('required')" class="help-block">Please enter family medical history
                          </span>  -->
                          <mat-form-field class="full-width-input">
                            <input matInput formControlName="fmedicalhistory" placeholder="Family Medical history">
                            <!-- <mat-error *ngIf="!fmedicalhistory.valid && fmedicalhistory.touched && fmedicalhistory.hasError('required')">
                              Please enter medical history
                            </mat-error> -->
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
  
                     <div class="row">
                       <div class="col-sm-6">
                        <div class="form-group">
                          <!-- <label>Surgeries:</label>
                          <input type="text" name="surgeries" class="form-control" placeholder="Surgeries"
                          formControlName="surgeries" />
                          <span *ngIf="!surgeries.valid && surgeries.touched && surgeries.hasError('required')" class="help-block">Please enter surgeries
                          </span>  -->
                          <mat-form-field class="full-width-input">
                            <input matInput formControlName="surgeries" placeholder="Surgeries">
                            <!-- <mat-error *ngIf="!surgeries.valid && surgeries.touched && surgeries.hasError('required')">
                              Please enter surgeries
                            </mat-error> -->
                          </mat-form-field>
                        </div>
                      </div>
  
                      <div class="col-sm-6">
                        <div class="form-group">
                          <!-- <label>Insurence Provider:</label>
                            <input type="text" name="insurenceprovider" class="form-control" placeholder="Insurence Provider"
                          formControlName="insurenceprovider" />
                          <span *ngIf="!insurenceprovider.valid && insurenceprovider.touched && insurenceprovider.hasError('required')" class="help-block">Please enter insurenceprovider
                          </span>  -->
                          <mat-form-field class="full-width-input">
                            <input matInput formControlName="insurenceprovider" placeholder="Insurence Provider">
                            <!-- <mat-error *ngIf="!insurenceprovider.valid && insurenceprovider.touched && insurenceprovider.hasError('required')">
                              Please enter Insurence provider
                            </mat-error> -->
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
  
                      <br>
  
  
                    <div class="row">
                      <div class="col-sm-6">
                        <button mat-raised-button color="primary" [disabled]=""
                          style="width:100%"  (click)="onSubmit()">Add</button>
  
                      </div>
                      <div class="col-sm-6">
                        <button mat-raised-button style="width:100%">Cancel</button>
                      </div>
                    </div>
  
                  </form>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
</mat-card-content>
</mat-card>
  </div>
  