<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-sm-12">
          <h2 class="heading_color">{{user.firstname}} {{user.lastname}} - Information</h2>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <form [formGroup]="physicianForm">
              <div class="row">
                <div class="col-sm-4">
                  <mat-label>Email : {{user.email}}</mat-label>
                </div>
                <div class="col-sm-4">
                  <mat-label>Date of birth : {{user.dob | date}}</mat-label>
                </div>
                <div class="col-sm-4">
                  <mat-label>Gender : {{user.gender}}</mat-label>
                </div>
              </div>
              <div class="row" style="padding-top: 2%;">
                <div class="col-sm-4">
                  <div class="form-group">
                    <mat-form-field class="full-width-input">
                      <input matInput formControlName="phone" placeholder="Phone">
                      <mat-error *ngIf="!phone.valid && phone.touched && phone.hasError('required')">
                        Please enter phone number
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <mat-form-field class="full-width-input">
                      <textarea matInput matInput formControlName="address" placeholder="Address"></textarea>
                      <mat-error *ngIf="!address.valid && address.touched && address.hasError('required')">
                        Please enter address
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <button mat-raised-button color="primary" (click)="onSubmit()"
                    style="margin-right: 10px;">Edit</button>
                  <button mat-raised-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
