<!-- sidenav  -->
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar d-flex flex-row">
        <button mat-icon-button class="m-2" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <mat-icon class="m-2 mr-3" routerLink="dashboard" style="cursor: pointer;">home</mat-icon>
        <mat-icon class="m-2 mr-3" routerLink="profile" style="cursor: pointer;">person</mat-icon>
        <mat-icon class="m-2 mr-3" style="cursor: pointer;">notifications</mat-icon>
        <span class="example-spacer"></span>
        <button mat-raised-button (click)="onlogout()">	<mat-icon>exit_to_app</mat-icon>&nbsp;Logout</button>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item routerLink="dashboard">
                    <mat-icon>dashboard</mat-icon>&nbsp;Dashboard</a>
                <a mat-list-item routerLink="patient/patient-demographics">
                    <mat-icon>graphic_eq</mat-icon>&nbsp;Patient Demographics</a>
                <a mat-list-item routerLink="patient/patient-immunization">
                    <mat-icon>colorize</mat-icon>&nbsp;Patient Immunization</a>
                <a mat-list-item routerLink="patient/patient-medication-allergy">
                    <mat-icon>enhanced_encryption</mat-icon>&nbsp;Patient Medication</a>
                <a mat-list-item routerLink="patient/patient-appointment-history">
                    <mat-icon>calendar_today</mat-icon>&nbsp;Patient Appointment</a>
                <a mat-list-item routerLink="patient/patient-appointment">
                    <mat-icon>perm_contact_calendar</mat-icon>&nbsp;Schedule Appointment</a>

<!-- route link for physician detail component  start -->
<a mat-list-item routerLink="physician/patient-detail">
<mat-icon>details</mat-icon>&nbsp;physician detail</a>
<!-- route link for physician detail component  end -->

            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
            <ng-content></ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
