mat-card {
    width: 600px;
    margin: auto auto;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

mat-form-field {
    display: block;
}

.btn_register {
    width: 100%;
}

.btn_cancel {
    width: 100%;
}
