<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 col-md-8 col-xs-2 " >
      <div class="card" >
        <div class="card-header">
          <h5 class="text-center">Patient Portal</h5>
        </div>
        <div class="card-body">
         <div class="row">
           <div class="col-sm-12">
             <form [formGroup]="registerForm">
               <div class="form-group">
                 <label for="float-input">First Name:</label>
                 <input type="text"
                  name="firstname"
                   class="form-control" placeholder="First Name"
                    [formControl]="firstname" />
                 <div [hidden]="firstname.valid || firstname.untouched">
                  <div [hidden]="!firstname.hasError('required')" class="text-danger">
                    <p>Firstname is required!</p>
                  </div>

                </div>
               </div>
               <div class="form-group">
                <label>Last Name:</label>
                <input type="text"
                name="lastname"
                 class="form-control"  placeholder="Last Name"
                  [formControl]="lastname"/>
                <div [hidden]="lastname.valid || lastname.untouched">
                  <div [hidden]="!lastname.hasError('required')" class="text-danger">
                    <p>Lastname is required!</p>
                  </div>

                </div>
              </div>
              <div class="form-group">
                <label>Email:</label>
                <input type="email"
                 name="email"
                 class="form-control"  placeholder="Email Name"
                  [formControl]="email"/>
                <div [hidden]="email.valid || lastname.untouched">
                  <div [hidden]="!email.hasError('required')" class="text-danger">
                    <p>Email is required!</p>
                  </div>
                  <div [hidden]="!email.hasError('email')" class="text-danger">
                    <p>* email should be in proper format</p>
                  </div>

                </div>
              </div>
              <div class="form-group">
                <label>Password:</label>
                <input type="password"
                name="password"
                class="form-control"  placeholder="Password"
                 [formControl]="password"/>
                <div [hidden]="password.valid || password.untouched">
                  <div [hidden]="!password.hasError('required')" class="text-danger">
                    <p>Password is required!</p>
                  </div>
                  <div [hidden]="!password.hasError('minlength')" class="text-danger">
                    <p>* Password must have 8 characters at least.</p>
                  </div>
                  <div [hidden]="!password.hasError('exclamationError')" class="text-danger">
                    <p>* Password must contain Exclamation mark.</p>
                  </div>

                </div>
              </div>
              <div class="form-group">
                <label>Retype Password:</label>
                <input type="password"
                 name="retypepassword"  placeholder="Retype Password"
                 class="form-control" [formControl]="retypepassword"/>
                <div [hidden]="retypepassword.valid || password.untouched">
                  <div [hidden]="!retypepassword.hasError('required')" class="text-danger">
                    <p>Retype password is required!</p>
                  </div>
                  <div [hidden]="!retypepassword.hasError('minlength')" class="text-danger">
                    <p>* Password must have 8 characters at least.</p>
                  </div>
                  <div [hidden]="!retypepassword.hasError('exclamationError')" class="text-danger">
                    <p>* Password must contain Exclamation mark.</p>
                  </div>

                </div>
              </div>
              <!-- <div class="form-group">
                <label>Date of birth:</label>
                <input type="date" name="date" class="form-control" [formControl]="date"/>
                <div [hidden]="date.valid || date.untouched">
                  <div [hidden]="!date.hasError('required')" class="text-danger">
                    <p>Date of birth is required!</p>
                  </div>

                </div>
              </div> -->
              <div class="form-group">
                <label>Role:</label>

                  <select name="role" formControlName="role" class="form-select" placeholder="Select Role" >
                      <option >Admin</option>
                      <option >Patient</option>
                      <option >Physician</option>
                  </select>
                  <!-- <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option><option value="1">One</option><option value="2">Two</option><option value="3">Three</option></select> -->
              </div>
              <!-- <div class="form-group">
                <label>Mobile number:</label>
                <input type="text" name="phone" class="form-control" [formControlName]="phone"/>
              </div> -->

              <div class="row">
                <div class="col-sm-6">
                  <button class="btn btn-success btn-block"
                    (click)="onRegister()">Register</button>
                </div>
                <div class="col-sm-6">
                  <button class="btn btn-secondary  btn-block">Cancel</button>
                </div>
              </div>

             </form>
           </div>
         </div>
        </div>
      </div>

    </div>
  </div>
</div>
