<!-- <mat-toolbar>
    © 2021 Copyright:
    <a class="text-white" href="">- All Rights Reserved</a>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>phone</mat-icon> Call Us
    </button>
   
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>mailbox</mat-icon> Email Us
    </button>
  </mat-toolbar> -->

  <!-- Bootstrap footer starts from here  -->
  <footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact Us</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">+91-8878958515</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Email Id</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">healthcare21@gmail.com</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">About Us</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <p>
                we are consistently delivers best-in-class solutions and an unmatched 
                cost advantage to healthcare organizations worldwide.
              </p>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Platforms</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Twitter</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Instagram</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark">- All Rights Reserved</a>
    </div>
    <!-- Copyright -->
  </footer>
   <!-- Bootstrap footer Ends from here  -->






